<p>header works!</p>
<header class="main-header">
    <div class="logo">
        <img src="./assets/images/logo.jpg" alt="logo" width=80px>
    </div>
    <nav>
        <!-- Estas listas estan en nuestro menú -->
        <ul class="navbar-nav">
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="servicios">Servicios</a></li>
            <li><a routerLink="clientes">Clientes</a></li>
            <li><a routerLink="acercade">Acereca de</a></li>
            <li><a routerLink="contactos">Contactos</a></li>
            <li></li>
        </ul>
    </nav>
</header>

    <!-- <hr />
    <h3>Este es el contador de header</h3>
    <app-contador (incrementarValor)="recibirContador($event)">
    </app-contador>
    Este es el valor {{contador}}
    <hr /> -->