<p>servicios works!</p>


<body>
    <div class="container">
        <div class="service">
            <h2>Servicio 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod justo eu justo consectetur.</p>
        </div>
        <div class="service">
            <h2>Servicio 2</h2>
            <img src="./assets/images/logo.jpg" alt="Servicio 2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod justo eu justo consectetur.</p>
        </div>
        <div class="service">
            <h2>Servicio 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod justo eu justo consectetur.</p>
            <ul>
                <li>Característica 1</li>
                <li>Característica 2</li>
                <li>Característica 3</li>
            </ul>
        </div>
    </div>
</body>