<!-- Esto es modularizado, en el index.html tengo estructura básica. 
Aca piedo tener la estructura que desee  -->

<body>
    <hr />

    <p>inicio works!</p>
<h1>Mi primera página</h1>
<hr />
<button type="button" class="btn btn-warning">Boton Boostrap 1</button>
<hr />
<p class="nombre"> Mi nombre es {{ nombre }}</p>
<span>Texto de ejemplo</span>
<div>
    <h3>Texto de ejemplo</h3>
    <hr />
<!-- acá estoy enlazando una acción de .html a mi archivo .ts  -->
<hr />
</div>
<button (click)="mostrarModal()">Mostrar Modal</button>
<hr />
</body>

<app-persona></app-persona>
