<p>acerca-de works!</p>

<body>
    <div class="container">
        <div class="section">
            <h2>Sobre nosotros</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam diam nec urna lacinia, at ultricies justo tincidunt.</p>
            <ol>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ol>
        </div>
        <div class="section">
            <h2>Nuestra experiencia</h2>
            <img src="imagen.jpg" alt="Nuestra experiencia">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam diam nec urna lacinia, at ultricies justo tincidunt.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="section">
            <h2>Nuestra meta con usuarios</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam diam nec urna lacinia, at ultricies justo tincidunt.</p>
            <ul>
                <li>Meta 1</li>
                <li>Meta 2</li>
                <li>Meta 3</li>
            </ul>
        </div>
        <div class="contact-section">
            <h2>Contacto</h2>
            <p>Teléfono: +123456789</p>
            <p>Correo: este_es_el_correo.com</p>
            <div class="social-icons">
                <a href="#"><img src="./assets/images/logo.jpg" alt="Facebook" width=10px ></a>
                <a href="#"><img src="./assets/images/logo.jpg" alt="Instagram" width=10px ></a>
                <a href="#"><img src="./assets/images/logo.jpg" alt="TikTok" width=10px ></a>
            </div>
        </div>
    </div>
</body>